/* Define var for root element  */
:root {
    --main-bg-color: #F2C94C;
    --secondary-bg-color: #F9F9F9;
    --main-text-color: #000;
    --secondary-text-color: #828282;
    --link-color: #2F80ED;
    --font-family: 'Montserrat', sans-serif;
    --infected: #6FCF97;
    --death: #EB5757;
}

.average-wrapper {
    width: 60%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .average-wrapper {
        width: 100%;
    }
}

/* Link to data */
.link-data a {
    padding: 10px 1rem;
    background-color: white;
    margin-right: 0.5rem;
    color: var(--gray-dark);
    text-decoration: none !important;
    border-radius: 1.2rem;
}

.link-data a:hover {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: white;
}