/* Define var for root element  */
:root {
    --main-bg-color: #F2C94C;
    --secondary-bg-color: #F9F9F9;
    --main-text-color: #000;
    --secondary-text-color: #828282;
    --link-color: #2F80ED;
    --font-family: 'Montserrat', sans-serif;
    --infected: #6FCF97;
    --death: #EB5757;
}


.title {
    text-align: center;
    width: 100%;
}

.title h2 {
    padding: 0;
    margin: 0;
}

.case-box {
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
    text-align: center;
    
}

.case-box .subtitle {
    text-align: center;
    margin: 1rem 0;
}


.case-box .total-case .title-case, .case-box .infected-case .title-case, .case-box .death-case .title-case {
    font-weight: 800;
    font-size: x-large;
}

.case-box .total-case .subtitle-case, .case-box .infected-case .subtitle-case, .case-box .death-case .subtitle-case{
    font-size: small;
}

.case-box .total-case {
    color: var(--main-bg-color);
}

.case-box .infected-case {
    color: var(--infected);
}

.case-box .death-case {
    color: var(--death);
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.case-box .subtitle .more_vert{
    float: right;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.case-box .subtitle .more_option {
    display: none;
    position: absolute;
    right: 16px;
    top: 50px;
    padding: 3px;
    text-align: left;
    background: white;
    border: 1px solid var(--secondary-text-color);
}

.more_vert:hover ~ .more_option {
    display: block;
}

.case-box .subtitle .more_option:hover {
    display: block;
}

/* Ajax loading */
.swiper-container {
    height: 438px;
}

.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 45%;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* Malaysia Map */
.overview-map-wrapper #map-year{
    border: 0;
    background-color: transparent;
}