/* Define var for root element  */
:root {
    --main-bg-color: #F2C94C;
    --main-text-color: #000;
    --secondary-text-color: #828282;
    --link-color: #2F80ED;
    --font-family: Montserrat, sans-serif;
}

.link {
    color:  var(--main-bg-color);
    font-weight: bold;
}

.subtitle {
    text-align: center;
    color: var(--secondary-text-color);
}



.login-header {
    
    padding: 2.75rem 1.25rem 0.75rem;
    color: var(--main-text-color);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
    font-family: var(--font-family);
}

.forget {
    float: right;
    padding: 5px 0;
}

.link:hover {
    opacity: 0.5;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.checkRememberMe {
    padding: 5px 0 5px 1.35rem;
}

.centerBtn {
    text-align: center;
    margin: auto;
}

.login_button {
    background-color: var(--main-bg-color);
    border-radius: 50px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    padding: 10px 0;
    width: 175px;
    height: 40px;
    font-family: var(--font-family);
    font-weight: bold;
}

input[type=checkbox]:after {
    content: " ";
    background-color: purple;
    display: inline-block;
    visibility: visible;
}

@media screen and (max-width:767px){
    .login-img {
        position: absolute;
        left: 0;
        opacity: 0.08;
        height: 480px;
        padding: 10px 0;
        margin: 0 auto;
    }
}