.profilepic {
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.adminlist {
    position: relative;
    width: 25%;
    float: left;
    margin: 5px;
}

.add_new_form {
    display: block;
    position: relative;
    left: 50%;
    font-size: 35px;
    color: darkgray;
    cursor: pointer;
}

#reset_form{
    position: absolute;
    right: 5px;
}